<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="io.mercury.android.movies.topmovies">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".movie.MovieActivity"/>

   </application>

</manifest>
